body{
    background-color:aliceblue;
}
tr:nth-child(even){
    background-color:beige;   
}
tr:nth-child(odd){
    background-color:rgb(215, 215, 205);   
}
td{
    padding:6px;
    text-align:center;
    color:rgb(45, 45, 45);
}
.headings{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(83, 83, 83);
}
.first-column{
    color: rgb(83, 83, 83);
    text-align: left; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
table{
    border-style:solid;
    border-collapse: collapse;
    font-family: 'Times New Roman', Times, serif;
    margin-left:20%;
    margin-right:20%;
}
table:hover{
    box-shadow:2px 2px 8px;
    border-style:solid;
    border-color:rgb(125, 125, 20);
}
